/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

.container {
  padding: 2em;
  display: flex;
  justify-content: center;
}

.title-card {
  margin: auto;
  background: #14838e;
  width: 13rem;
  padding: 1em;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}

.subtitle-card {
  margin: 2em auto 2em;
  width: 13rem;
  padding: 1em;
  border-style: solid;
  border-radius: 10px;
  border-color: #14838e;
  text-align: center;
  color: #000000;
}
